In [1]:
import numpy as np

In [4]:
j = [0, 1, 1, 0]
k = [1, 1, 1, 1]
l = [1, 1, 0, 0]
m = [1, 0, 1, 1]

In [20]:
def q3(j, k, l, m):
    res = []
    for ij in range(4):
        for ik in range(4):
            for il in range(4):
                for im in range(4):
                    if j[ij] == k[ik] == l[il] == m[im] == 1:
                        r = []
                        r.append(ij)
                        if ik not in r:
                            r.append(ik)
                            if il not in r:
                                r.append(il)
                                if im not in r:
                                    r.append(im)
                                    res.append(r)
    for t in range(4):
        for i in range(4):
            res[t][i] += 1
    return res

In [21]:
q3(j, k, l, m)

[[2, 3, 1, 4], [2, 4, 1, 3], [3, 1, 2, 4], [3, 2, 1, 4], [2, 3, 1, 0]]

In [9]:
a = [1,2,3]
1 not in a

False

In [23]:
a = 1/3
b = 1/2
c = 1/4
d = 1/5

In [51]:
T = np.array([
    [0, a, a, 0, a, 0],
    [b, 0, 0, b, 0, 0],
    [0, 0, 0, 0, b, b],
    [0, 1, 0, 0, 0, 0],
    [c, c, 0, c, 0, c],
    [d, d, d, d, d, 0]
])

In [52]:
I = np.identity(6)

In [53]:
R = T.T - I

In [54]:
Z = np.array([[0, 0, 0, 0, 0, 0]]).T
R = np.hstack((R, Z))
R

array([[-1.        ,  0.5       ,  0.        ,  0.        ,  0.25      ,
         0.2       ,  0.        ],
       [ 0.33333333, -1.        ,  0.        ,  1.        ,  0.25      ,
         0.2       ,  0.        ],
       [ 0.33333333,  0.        , -1.        ,  0.        ,  0.        ,
         0.2       ,  0.        ],
       [ 0.        ,  0.5       ,  0.        , -1.        ,  0.25      ,
         0.2       ,  0.        ],
       [ 0.33333333,  0.        ,  0.5       ,  0.        , -1.        ,
         0.2       ,  0.        ],
       [ 0.        ,  0.        ,  0.5       ,  0.        ,  0.25      ,
        -1.        ,  0.        ]])

In [55]:
R[-1, :] = 1
R

array([[-1.        ,  0.5       ,  0.        ,  0.        ,  0.25      ,
         0.2       ,  0.        ],
       [ 0.33333333, -1.        ,  0.        ,  1.        ,  0.25      ,
         0.2       ,  0.        ],
       [ 0.33333333,  0.        , -1.        ,  0.        ,  0.        ,
         0.2       ,  0.        ],
       [ 0.        ,  0.5       ,  0.        , -1.        ,  0.25      ,
         0.2       ,  0.        ],
       [ 0.33333333,  0.        ,  0.5       ,  0.        , -1.        ,
         0.2       ,  0.        ],
       [ 1.        ,  1.        ,  1.        ,  1.        ,  1.        ,
         1.        ,  1.        ]])

In [56]:
99 + 22 * 7 + 8 * 5 + 99 + 12 * 5 + 35

487

In [57]:
487 / 35

13.914285714285715

In [76]:
t = np.array([99, 154, 40, 99, 60, 35]) / 487
t

array([0.20328542, 0.31622177, 0.08213552, 0.20328542, 0.12320329,
       0.07186858])

In [77]:
t = np.around(t, 4)
t

array([0.2033, 0.3162, 0.0821, 0.2033, 0.1232, 0.0719])

In [71]:
t.sum()

0.9999999999999999